extends layout 

block content 
  #game-helper-container
    #game-container
      h1= agerating.name 
      img#game-cover(src=`/images/uploads/${agerating.image}`, alt="Age Rating logo")
      p= agerating.description

      .button-container
          a.button-edit(href=`${agerating.url}/update`) Edit
          a.button-delete(href=`${agerating.url}/delete`) Delete