extends layout 

block content 
  .delete-container
    .delete-form
      h1.delete-title #{title}: #{data.game.title}

      if data.copies.length
        p #[strong Delete the following copies before attempting to delete this game:]
        .delete-elements
          for copy in data.copies 
            .delete-element
              a(href=copy.url) #{data.game.title}
                p #{copy.price}
                p #{copy.format}
                p #{copy.condition}
      else
        .delete-confirm-form
          p Do you really want to delete this Game?
          form.delete-password-button(action="" method='POST')
            input#gameid(type='hidden' name='gameid' required='true' value=data.game.id)
            .delete-password
              label(for="password") Password: 
              input#password(type='password' placeholder='???' name='password' required='true') 
            button.button-delete-confirm(type='submit') Delete
      if error
        p Incorrect password!