extends layout 

block content 
  #game-helper-container
    #game-container
      h1= data.game.title
      img#game-cover(src=`/images/uploads/${data.game.image}`, alt="Game Box Art")
      p #[strong Price: ] #{data.price}
      p #[strong Format: ] #{data.format}
      p #[strong Condition: ] #{data.condition}

      .button-container
        a.button-edit(href=`${data.url}/update`) Edit
        a.button-delete(href=`${data.url}/delete`) Delete