extends layout 

block content
  #game-helper-container
    #game-container
      h1= game.title
      p= game.summary
      p #[strong Platforms: ]
        for item in game.platform
          if item === game.platform[0]
            |#{item.name}
          else 
            |, #{item.name}
      p #[strong Developer/s: ]
        for item in game.developer
          if item === game.developer[0]
            |#{item.name}
          else 
            |, #{item.name}
      p #[strong Publisher: ]#{game.publisher.name}
      p #[strong Genre/s: ]
        for item in game.genre
          if item === game.genre[0]
            |#{item.name}
          else 
            |  - #{item.name}
      p #[strong Age Rating: ]#{game.rating.name}
      .button-container
        a.button-edit(href=`${game.url}/update`) Edit
        a.button-delete(href=`${game.url}/delete`) Delete