extends layout

block content
  #gamelist-title-container
    h1 Game Copies
    a(href="/gamecopy/create") #[button Add a Copy]
  #gamelist-container
    for gameCopy in data
      .gamelist-game 
        a(href=gameCopy.url)
          img(src="/images/eldenring.png", alt="Game Box Art")
          p= gameCopy.game.title
          p= gameCopy.price 
          p= gameCopy.format
          p= gameCopy.condition