extends layout

block content
  #gamelist-title-container
    h1 Games
    a(href="/game/create") #[button Add a Game]
  #gamelist-container
    for game in data
      .gamelist-game
        a(href=game.url)
          img(src="/images/eldenring.png", alt="Game Box Art")
          p= game.title
          p 
            for item in game.platform
              if item === game.platform[0]
                |#{item.name}
              else 
                |, #{item.name}
          p By 
            for item in game.developer
              if item === game.developer[0]
                |#{item.name}
              else 
                |, #{item.name}
          p 
            for item in game.genre
              if item === game.genre[0]
                |#{item.name}
              else 
                |  - #{item.name}