extends layout

block content 
  .delete-container
    .delete-form
      h1.delete-title #{title}: #{copy.game.title}
      p Do you really want to delete this Game copy?
      p= copy.game.title 
      p= copy.price 
      p= copy.format 
      p= copy.condition
      .delete-confirm-form
        form.delete-password-button(action="" method='POST')
          input#copyid(type='hidden' name='copyid' required='true' value=copy.id)
          .delete-password
              label(for="password") Password: 
              input#password(type='password' placeholder='???' name='password' required='true') 
          button.button-delete-confirm(type='submit') Delete
      if error
        p Incorrect password!