extends layout

block content
  #main-container
    p#index-title Welcome to #{title}, gaming database and mini-store
    .counter-container
      .index-counter#game
        p Game count: #{data.game_count} #[a(href="/game") all games]
      .index-counter#copy
        p Game Copy count: #{data.game_copy_count} #[a(href="/gamecopy") all game copies]
      .index-counter#genre
        p Genre count: #{data.genre_count} #[a(href="/genre") all genres]
      .index-counter#platform
        p Platform count: #{data.platform_count} #[a(href="/platform") all platforms]
      .index-counter#developer
        p Developer count: #{data.developer_count} #[a(href="/developer") all developers]
      .index-counter#publisher
        p Publisher count: #{data.publisher_count} #[a(href="/publisher") all publishers]
      .index-counter#rating
        p Age Rating count: #{data.age_rating_count} #[a(href="/rating") all age ratings]