extends layout

block content
  #main-container
    p#index-title Welcome to #{title}, gaming database and mini-store
    .counter-container
      .index-counter#game
        a(href="/game")
          p.count= data.game_count
          p.category Games
      .index-counter#copy
        a(href="/gamecopy")
          p.count= data.game_copy_count
          p.category Game Copies
      .index-counter#genre
        a(href="/genre")
          p.count= data.game_count
          p.category Genres
      .index-counter#platform
        a(href="/platform")
          p.count= data.platform_count
          p.category Platforms
      .index-counter#developer
        a(href="/developer")
          p.count= data.developer_count
          p.category Developers
      .index-counter#publisher
        a(href="/publisher")
          p.count= data.publisher_count
          p.category Publishers
      .index-counter#rating
        a(href="/rating")
          p.count= data.age_rating_count
          p.category Age Ratings