extends layout 

block content 
  #game-helper-container
    #game-container
      h1= publisher.name 
      img#game-cover(src=`/images/uploads/${publisher.image}`, alt="Publisher logo")
      p= publisher.description

      .button-container
          a.button-edit(href=`${publisher.url}/update`) Edit
          a.button-delete(href=`${publisher.url}/delete`) Delete